.Avatar {
    &__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__image {
        width: 50px;
        height: 50px;
        border-radius: 25px;
        background: #CCC;
    }
}